@model CourseRegistration44.Models.PendingRequestInfo

<fieldset>
    <legend>PendingRequestInfo</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Notes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Notes)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Resume)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Resume)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
